In [1]:
import pyspark

In [2]:
pyspark.__file__

'/usr/local/spark/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.master("local[*]").appName('test').getOrCreate()

In [12]:
spark1 = SparkSession.builder \
    .master("spark://spark:7077") \
    .appName("Jupyter PySpark") \
    .getOrCreate()

#### Question1
Install Spark and PySpark

Install Spark
Run PySpark
Create a local spark session
Execute spark.version.

What's the output?

In [165]:

spark.version

'3.5.0'

In [22]:
df = spark.read.csv('fhv_tripdata_2019-10.csv', header=True)

In [23]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [24]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [30]:
from pyspark.sql import types

In [34]:
schema = types.StructType(
    [types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)]
    
    )

In [35]:
df = spark.read.schema(schema).csv('fhv_tripdata_2019-10.csv', header=True)

In [36]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [37]:
df.head()

Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009')

In [68]:
df= df.repartition(6)

In [60]:
df.write.parquet('partitions/2019_01')

In [43]:
num_partitions = df.rdd.getNumPartitions()
print("Number of partitions:", num_partitions)

Number of partitions: 6

In [80]:
from pyspark.sql import functions as F
df = spark.read.parquet('partitions/2019_01/*')
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   NULL|                B02688|
|              B01843|2019-10-02 18:24:00|2019-10-02 22:21:00|         264|         264|   NULL|                  NULL|
|              B02293|2019-10-01 11:05:20|2019-10-01 12:49:00|         107|         168|   NULL|                B02293|
|              B03162|2019-10-03 07:16:31|2019-10-03 08:50:47|         210|         236|   NULL|                B03162|
|              B01190|2019-10-02 08:41:46|2019-10-02 08:51:41|         264|          49|   NULL|                B01190|
|              B00254|2019-10-02 13:20:45|2019-10-02 13:40:35|          13|         234|   NULL|                B02788|
|              B01984|2019-10-01 09:36:00|2019-10-01 09:53:00|         264|         216|   NULL|                B01984|
|              B00256|2019-10-03 06:40:27|2019-10-03 07:00:41|         264|         264|   NULL|                B00256|
|              B01406|2019-10-02 23:27:58|2019-10-02 23:53:11|         264|         220|   NULL|                B02747|
|              B01601|2019-10-02 08:38:00|2019-10-02 09:11:00|         264|         264|   NULL|                B01601|
|              B02095|2019-10-01 18:05:42|2019-10-01 18:27:35|         264|         264|   NULL|                B02095|
|              B02437|2019-10-02 13:54:38|2019-10-02 14:12:49|         264|         119|   NULL|                B02437|
|              B01437|2019-10-01 13:17:19|2019-10-01 13:20:34|         264|         205|   NULL|                B03227|
|              B00856|2019-10-02 17:34:10|2019-10-02 17:54:31|         264|          35|   NULL|                B00932|
|              B00310|2019-10-02 10:33:06|2019-10-02 14:55:16|         264|         159|   NULL|                B00310|
|              B01239|2019-10-02 18:05:59|2019-10-02 18:17:20|         264|          32|   NULL|                B02682|
|              B02849|2019-10-02 04:55:20|2019-10-02 04:58:10|         264|         217|   NULL|                B02849|
|              B03060|2019-10-02 08:11:56|2019-10-02 08:47:42|         264|         210|   NULL|                B03060|
|              B02905|2019-10-02 15:08:18|2019-10-02 15:21:03|         264|         141|   NULL|                B02905|
|              B02107|2019-10-02 16:50:09|2019-10-02 16:58:42|         264|         174|   NULL|                B02107|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

##### Question 2:
FHV October 2019

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

1MB
6MB
25MB
87MB

#### Answer 

each file is 5.9 MB which approximately to :
###### 6MB

#### Question 3:
Count records

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

108,164
12,856
452,470
62,610

#### Answer
##### 62610

In [78]:
df.registerTempTable('fhvhv')

/usr/local/spark/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [84]:
spark.sql(""" select count(*) from fhvhv where DATE(pickup_datetime) = '2019-10-15'; """).show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

#### Question 4:
Longest trip for each day

What is the length of the longest trip in the dataset in hours?

631,152.50 Hours
243.44 Hours
7.68 Hours
3.32 Hours

#### Answer 
631,152.50 Hours

In [129]:
from pyspark.sql.functions import col, asc,desc

In [131]:
df \
    .withColumn('duration_seconds', df.dropOff_datetime.cast('long')-df.pickup_datetime.cast('long')) \
    .orderBy(col('duration_seconds').desc()) \
    .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|duration_seconds|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+
|              B02832|2019-10-28 09:00:00|2091-10-28 09:30:00|         264|         264|   NULL|                B02832|      2272149000|
|              B02832|2019-10-11 18:00:00|2091-10-11 18:30:00|         264|         264|   NULL|                B02832|      2272149000|
|              B02416|2019-10-31 23:46:33|2029-11-01 00:13:00|        NULL|        NULL|   NULL|                B02416|       315620787|
|     B00746         |2019-10-01 21:43:42|2027-10-01 21:45:23|         159|         264|   NULL|       B00746         |       252460901|
|              B02921|2019-10-17 14:00:00|2020-10-18 00:00:00|        NULL|        NULL|   NULL|                B03037|        31658400|
|              B03110|2019-10-26 21:26:00|2020-10-26 21:36:00|         264|         264|   NULL|                B03110|        31623000|
|              B03080|2019-10-30 12:30:04|2019-12-30 13:02:08|         264|          50|   NULL|                B02883|         5272324|
|     B03084         |2019-10-25 07:04:57|2019-12-08 07:54:33|         168|         235|   NULL|                B02765|         3804576|
|     B03084         |2019-10-25 07:04:57|2019-12-08 07:21:11|         168|         235|   NULL|                B02765|         3802574|
|              B01452|2019-10-01 13:47:17|2019-11-03 15:20:28|          44|         214|   NULL|                B01452|         2856791|
|              B01452|2019-10-01 07:21:12|2019-11-03 08:44:21|           5|           6|   NULL|                B01452|         2856189|
|              B01452|2019-10-01 13:41:00|2019-11-03 14:58:51|         206|         172|   NULL|                B01452|         2855871|
|              B01452|2019-10-01 18:43:20|2019-11-03 19:43:13|          23|           5|   NULL|                B01452|         2854793|
|              B01452|2019-10-01 18:43:46|2019-11-03 19:43:04|         251|          44|   NULL|                B01452|         2854758|
|              B01452|2019-10-01 07:07:09|2019-11-03 07:58:46|         204|          23|   NULL|                B01452|         2854297|
|              B01452|2019-10-01 14:49:28|2019-11-03 15:38:07|         214|         156|   NULL|                B01452|         2854119|
|              B01452|2019-10-01 05:36:30|2019-11-03 06:23:36|         214|          84|   NULL|                B01452|         2854026|
|              B00972|2019-10-01 15:02:55|2019-11-03 15:49:05|         204|           1|   NULL|                B00972|         2853970|
|              B00972|2019-10-01 06:08:01|2019-11-03 06:53:15|         156|         204|   NULL|                B00972|         2853914|
|              B01452|2019-10-01 06:41:17|2019-11-03 07:26:04|          44|          23|   NULL|                B01452|         2853887|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+
only showing top 20 rows

In [136]:
spark.sql("""
SELECT
    pickup_datetime, dropoff_datetime,
    (unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime)) / 3600  AS duration
FROM
    fhvhv
ORDER BY
    duration DESC
""").show()

+-------------------+-------------------+------------------+
|    pickup_datetime|   dropoff_datetime|          duration|
+-------------------+-------------------+------------------+
|2019-10-28 09:00:00|2091-10-28 09:30:00|          631152.5|
|2019-10-11 18:00:00|2091-10-11 18:30:00|          631152.5|
|2019-10-31 23:46:33|2029-11-01 00:13:00| 87672.44083333333|
|2019-10-01 21:43:42|2027-10-01 21:45:23| 70128.02805555555|
|2019-10-17 14:00:00|2020-10-18 00:00:00|            8794.0|
|2019-10-26 21:26:00|2020-10-26 21:36:00| 8784.166666666666|
|2019-10-30 12:30:04|2019-12-30 13:02:08|1464.5344444444445|
|2019-10-25 07:04:57|2019-12-08 07:54:33|1056.8266666666666|
|2019-10-25 07:04:57|2019-12-08 07:21:11|1056.2705555555556|
|2019-10-01 13:47:17|2019-11-03 15:20:28| 793.5530555555556|
|2019-10-01 07:21:12|2019-11-03 08:44:21| 793.3858333333334|
|2019-10-01 13:41:00|2019-11-03 14:58:51|          793.2975|
|2019-10-01 18:43:20|2019-11-03 19:43:13| 792.9980555555555|
|2019-10-01 18:43:46|2019-11-03 19:43:04| 792.9883333333333|
|2019-10-01 07:07:09|2019-11-03 07:58:46| 792.8602777777778|
|2019-10-01 14:49:28|2019-11-03 15:38:07| 792.8108333333333|
|2019-10-01 05:36:30|2019-11-03 06:23:36|           792.785|
|2019-10-01 15:02:55|2019-11-03 15:49:05| 792.7694444444444|
|2019-10-01 06:08:01|2019-11-03 06:53:15| 792.7538888888889|
|2019-10-01 06:41:17|2019-11-03 07:26:04| 792.7463888888889|
+-------------------+-------------------+------------------+
only showing top 20 rows

#### Question 5:
User Interface

Spark’s User Interface which shows the application's dashboard runs on which local port?

80
443
4040
8080

#### Answer 
4040

#### Question 6:
Least frequent pickup location zone

Load the zone lookup data into a temp view in Spark
Zone Data

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

East Chelsea
Jamaica Bay
Union Sq
Crown Heights North

#### Answer 

##### Jamaica Bay

In [138]:
df_zones = spark.read.csv('taxi_zone_lookup.csv/', header=True)

In [141]:
df_zones.write.parquet('zones')

In [142]:
df_zone = spark.read.parquet('zones/')

In [143]:
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [150]:
df_join=df.join(df_zone, df.PUlocationID == df_zone.LocationID)

In [154]:
df_join.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|          Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------+------------+
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   NULL|                B02688|       264|  Unknown|            NV|         N/A|
|              B01843|2019-10-02 18:24:00|2019-10-02 22:21:00|         264|         264|   NULL|                  NULL|       264|  Unknown|            NV|         N/A|
|              B02293|2019-10-01 11:05:20|2019-10-01 12:49:00|         107|         168|   NULL|                B02293|       107|Manhattan|      Gramercy| Yellow Zone|
|              B03162|2019-10-03 07:16:31|2019-10-03 08:50:47|         210|         236|   NULL|                B03162|       210| Brooklyn|Sheepshead Bay|   Boro Zone|
|              B01190|2019-10-02 08:41:46|2019-10-02 08:51:41|         264|          49|   NULL|                B01190|       264|  Unknown|            NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------+------------+
only showing top 5 rows

In [159]:
df_join = df_join.drop('LocationID')

In [162]:
df_join.show(2)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------+----+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|Borough|Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------+----+------------+
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   NULL|                B02688|Unknown|  NV|         N/A|
|              B01843|2019-10-02 18:24:00|2019-10-02 22:21:00|         264|         264|   NULL|                  NULL|Unknown|  NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------+----+------------+
only showing top 2 rows

In [170]:
pickup_counts = df_join.groupBy("Zone").count()
print(pickup_counts.show())
# Find the least frequent pickup location zone
least_frequent_zone = pickup_counts.orderBy("count").first()["Zone"]
print(least_frequent_zone)

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|           Homecrest| 1295|
|              Corona| 7175|
|    Bensonhurst West| 1880|
|         Westerleigh| 1317|
|Charleston/Totten...| 2533|
|      Newark Airport| 2532|
|          Douglaston|  291|
|East Concourse/Co...| 3294|
|          Mount Hope| 3973|
|      Pelham Parkway| 1522|
|         Marble Hill|  116|
|           Rego Park| 1697|
|Upper East Side S...| 2358|
|Heartland Village...| 1054|
|       Dyker Heights|  690|
|   Kew Gardens Hills|  906|
|     Jackson Heights|10952|
|             Bayside| 2547|
|TriBeCa/Civic Center| 1918|
|      Yorkville West|  840|
+--------------------+-----+
only showing top 20 rows

None
Jamaica Bay